    <!-- Hero Section Begin -->
    <section class="hero">
       <!-- Navigation -->
    <div class="container">
            <div class="hero__slider owl-carousel">
                {{#each malayalam}}
               <a href=""> <div class="hero__items set-bg" data-setbg="/movie-poster/{{this._id}}.jpg"></div></a>
                {{/each}}
            </div>  
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Malayalam</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{#each malayalam}}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <a href="/movie/{{this._id}}">
                                <div class="product__item__pic set-bg" data-setbg="/movie-poster/{{this._id}}{{_id}}.jpg">
                                        
                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                    </div></a>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>{{movie.Type}}</li>
                                            
                                        </ul>
                                        <h5><a href="/movie/{{this._id}}">{{movie.MovieTitle}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                       
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>English</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{#each english}}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <a href="/movie/{{this._id}}">
                                    <div class="product__item__pic set-bg" data-setbg="/movie-poster/{{this._id}}{{_id}}.jpg">
                                        
                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                    </div></a>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>{{movie.Type}}</li>
                                            
                                        </ul>
                                        <h5><a href="#">{{movie.MovieTitle}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {{/each}}     
                        </div>
                    </div>
                   
                    <div class="live__product">
                        
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Upcoming Movies</h5>
                            </div>
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Malayalam</li>
                                <li data-filter=".english">English</li>
                                <li data-filter=".tamil">Tamil</li>
                                <li data-filter=".kannada">Kannada</li>
                            </ul>
                            <div class="filter__gallery">
                                {{#each malayalam}}
                                <div class="product__sidebar__view__item set-bg mix malayalam"
                                data-setbg="/movie-poster/{{this._id}}.jpg">
                                
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                
                            </div>
                            {{/each}}
                            <div class="filter__gallery">
                                {{#each english}}
                                <div class="product__sidebar__view__item set-bg mix english"
                                data-setbg="/movie-poster/{{this._id}}.jpg">
                                
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                
                            </div>
                            {{/each}}
                            {{#each tamil}}
                                <div class="product__sidebar__view__item set-bg mix tamil"
                                data-setbg="/movie-poster/{{this._id}}.jpg">
                                
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                
                            </div>
                            {{/each}}
                            {{#each kannada}}
                                <div class="product__sidebar__view__item set-bg mix kannada"
                                data-setbg="/movie-poster/{{this._id}}.jpg">
                                
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                
                            </div>
                            {{/each}}
                              
    </div>
    </div>
   
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->