<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

        <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" type="text/css" rel="stylesheet">
    <link href="/css/sb-admin-2.css" type="text/css" rel="stylesheet">

    <link href="/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/css/elegant-icons.css" type="text/css" rel="stylesheet">
    <link href="/css/plyr.css" type="text/css" rel="stylesheet">
    <link href="/css/nice-select.css" type="text/css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" type="text/css" rel="stylesheet">
    <link href="/css/slicknav.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
  {{#if adminlogin}}
  {{{body}}}
  {{else if theaterlogin}}
  {{{body}}}
 

  {{else if theater}}
  <div id="wrapper">
    {{>theater-sidebar}}
    <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            {{>theater-header}}
            <div class="container-fluid">
              {{{body}}}
            </div>
          </div>
        </div>
  </div>
  {{else if admin}}
  <div id="wrapper">
    {{>admin-sidebar}}
    <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            {{>admin-header}}
            <div class="container-fluid">
              {{{body}}}
            </div>
          </div>
        </div>
  </div>
  {{else}}
  {{>user-header}}
  {{{body}}}
  {{>user-footer}}
  {{/if}}

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/player.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>

</body>

</html>